/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

p, label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 1% 0;
    width: ;
}

/* 

html {
    background-color: rgb(122, 66, 139);
}

body {
    max-width: 1100px;
    background-color: rgba(255, 255, 255);
    padding: 5%;
    margin: 2%;
}

.form-header {
    color: #fff;
    background-color: rgb(122, 66, 139) ;
    padding: 1%;
}

div input, div label {
    display: block;
}



.radio label, .radio input {
    display: inline-block;
}

footer {
    display: flex;
} */