footer {
    font-size: 14px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 136, 255, 0.5);
}

p {
    border-color: red;
    border: 10px;
}