/* 2 - media query */
h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: green;
    }
}

/* 3 - min-width */
p {
    background-color: aqua;
    color: black;
}

@media screen and (min-width: 800px) {
    p {
        background-color: blueviolet;
        color: #fff;
    }
}

/* 4 - landscape */
h3 {
    display: none;
}

@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}